@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;500;600&display=swap');

.guanacoMCGenPAge{
    font-family: 'Noto Sans Display', sans-serif;
}
.homeSplash{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  background-size: auto;
  position: relative;
}
.homeSplashIMG{
  filter: brightness(1.6) saturate(80%);
}

.homeSplashIMGMobi{display: none;}

.guanacoLogo{
    position: absolute;
    bottom: calc(0vh + 94px);
    width: 40%;
    transition: 1s;
}
.guanacoLogo2{
    transition: 1s;
    position: absolute;
    bottom: calc(0vh + 90px);
    width: 40%;
}

.homeSplash:hover> .guanacoLogo {
    transform: translate(6px, 6px);
}

.musicVideoSection{
    padding: 21px;
    width: 100%;
    background-color: rgb(38, 36, 50);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("/assets/bands/guanaco/pics/homeLanding.jpg");
}

.musicVideoSection h2{
    font-size: 2.5em;
    font-weight: 400;
}



.videoPickerBox{
    padding: 15px 21px;
    font-size: 1.2em;
    background-color: transparent;
    color: white;
    border: unset;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    width: fit-content;
    margin-bottom: 21px;
}

.eachVideoOption{
    background-color: black;
    padding: 6px 9px;
}

.eachVideoDisplayer{
    display: flex;
    width: 100%;
    margin: 21px;
    justify-content: center;
}

.youtubeDisp{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.youtubeDispMOBILE{
    display: none;
}
.videoData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    padding: 12px;
    width: 320px;
}

.videoData h1 {
    font-weight: 300;
    margin: unset;
    margin: 9px 0;
}
.videoData h3 {
    font-weight: 300;
    margin: unset;
    font-size: 1.5em;
}

.newDiscTitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    color: gold;
}

.albumDisplayerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-top: 9px;
    padding-bottom: 9px;
}

.albumDisplayerSection H2{
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    padding-left: 21px;    
}
.albumCoverCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eachAlbumCover{
    width: 25%;
    filter: brightness(0.5);
    transition: 1s;
}

.eachAlbumCover:hover{
    filter: none;
}

.albumDataDisplayer{
    margin: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aPickedAlbumCont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.anAlbumData{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    padding: 12px;
    width: 320px;
    padding-top: 66px;
}

.anAlbumData h1{
    font-weight: 400;
    margin: unset;
    margin: 9px 0;    
}

.albumMediaLinks{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 21px 0;
    border-top: solid 1px white;
    margin: 15px 0;
}

.albumMediaLinks a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    width: fit-content;
}

/*  FOOTER */
.guanacoFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerIMG{
    margin: 21px;
    width: 40%;
}

.socialLinksCont{
    display: flex;
    margin-bottom: 15px;
}

.socialLinksCont a{
    border: solid 2px black;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 6px;
}

.mngmntLinksCont{
    display: flex;
    margin: 15px;
}

.mngmntLinksCont a{
    margin: 0 12px;
}

@media (max-width: 1080px) {

}

@media (max-width: 700px) {

    .guanacoLogo{
        width: 70%;
    }
    .guanacoLogo2{
        width: 70%;
    }
    .homeSplash:hover> .guanacoLogo {
        transform: translate(4px, 3px);
    }

    .eachAlbumCover{
       width: 50%;
       filter: none;
    }

    .anAlbumData{
        text-align: center;
    }

    .aPickedAlbumCont{
        flex-direction: column;
        align-items: center;
    }
    .footerIMG{
        width: 75%;
    }

    .socialLinksCont{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .socialLinksCont a{
        margin: 6px;
    }

    .homeSplashIMG{
        display: none;
    }
    .homeSplashIMGMobi{
        display: unset;
    }
    .videoPickerBox{
        font-size: 0.9em;
    }

    .musicVideoSection{
        flex-direction: column;
        align-items: center;
    }
    .eachVideoDisplayer{
        flex-direction: column;
        align-items: center;
    }

    .videoData{
        text-align: center;
    }

    .videoData h1 {
        font-size: 1.6em;
    }
    .videoData h3 {
        font-size: 1.2em;
    }
    .youtubeDisp{
        display: none;
    }
    .youtubeDispMOBILE{
        display: unset;
    }
}