.generalCont{
  min-height: 78vh;
  padding-top: 79px;
  background-color: rgb(230, 229, 229);
}

.aHomeSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px grey;
  overflow-x: hidden;

}

.aSectiontitle{
  width: 70%;
  margin: unset;
  padding: 15px;
  font-weight: 400;
}

.homeSplash{
  height: calc(100vh - 90px);
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/pictures/texturaFondo.png");
  background-size: auto;
  position: relative;
}

.homeSplashIMG{
  filter: brightness(1.2);
}

.homeSplashText{
  position: absolute;
  color: white;
  font-size: 2.3em;
  font-weight: 300;
  text-transform: uppercase;
}

.cartDialog{
  width: 400px;
}

.cartTitle{
  padding: 0 15px;
}

.eachCartElemCont{
  width: 360px;
  margin: 12px;
  padding: 12px;
  border: solid 1px black;
}

.eachCartItemCont{
  font-size: 0.9em;
  border-bottom: dotted 1px black;
  padding-bottom: 9px;
}

.cartItemName{
  padding-top: 9px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.cartItmeDescription{
  font-style: italic;
  font-style: 0.8em;
}

.cartItmePrice{
  text-align: end;
  font-weight: 800;
}

.totalCartPrice{
  padding-top: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.rmvBTN{
  color: red;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
}

.merchDispCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payNowBtn{
  width: calc(100% - 36px);
  margin: 12px;
  padding: 12px;
  background-color: var(--purple-highlight);
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.homeSplashIMGMobi{display: none;}

.merchOpenerCont{
    display: flex;
    background-color: white;
    padding: 3px;
    width: 750px;
    margin: 12px;
    align-items: center;
}

.merchOpenerText{
  font-size: 1.8em;
  font-style: italic;
  width: 50%;
  text-align: end;
  margin: 21px;
  text-transform: capitalize;
}

.homeCardDispCont{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }



@media (max-width: 1080px) {
  .aSectiontitle{
    width: 100%;
  }
  .merchOpenerCont{
    width: 96%;
  }
}

@media (max-width: 700px) {
  .homeSplashText{
    bottom: 66px;
    font-size: 2em;
  }
  .aSectiontitle{
    font-size: 1.7em;
  }
  .homeSplashIMG{
    display: none;
  }
  .homeSplashIMGMobi{
    display: unset;
  }

  .cartDialog{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .eachCartElemCont{
    width: 90%;
  }
}