.generalCont{
  min-height: 75vh;
  padding-top: 100px;
  background-color: whitesmoke;
}

.aHomeSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px grey;
  overflow-x: hidden;

}

.aSectiontitle{
  width: 70%;
  margin: unset;
  padding: 15px;
  font-weight: 400;
}

.homeSplash{
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/pictures/texturaFondo.png");
  background-size: auto;
  position: relative;
}

.homeSplashIMG{
  filter: brightness(0.6);
}

.homeSplashText{
  position: absolute;
  color: white;
  font-size: 2.7em;
  font-weight: 300;
}

.cartDialog{
  width: 400px;
}

.cartTitle{
  padding: 0 15px;
}

.eachCartElemCont{
  width: 360px;
  margin: 12px;
  padding: 12px;
  border: solid 1px black;
}

.eachCartItemCont{
  font-size: 0.9em;
  border-bottom: dotted 1px black;
  padding-bottom: 9px;
}

.cartItmeDescription{
  font-style: italic;
  display: flex;
  justify-content: space-between;
  /* font-weight: 600; */
}

.cartItmePrice{
  text-align: end;
  font-weight: 800;
}

.totalCartPrice{
  padding-top: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.rmvBTN{
  color: red;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .aSectiontitle{
    width: 100%;
  }
}

@media (max-width: 700px) {
  .homeSplashText{
    bottom: 45px;
    font-size: 2em;
  }
}