.miniSiteGenCont{
    width: 100%;
    min-height: 80vh;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webVeoIntroBanner{
    padding: 120px 0;
}

.seasonIntrotitle{
    border-top: dotted 2px black;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    padding-top: 21px;
    padding-bottom: 15px;
}

.episodeListAndPlayer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.episodePicker{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--generalBoxShadow);
    width: 360px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eachepisodeList{
    padding: 6px;
    cursor: pointer;
}

.eachepisodeList:hover{
    color: var(--purple-highlight);
    font-weight: 600;
}

.episodeDescription{
    margin: 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--generalBoxShadow);
}

.episodeDescription h5{
    padding: unset;
    margin: unset;
    text-align: end;
    padding: 15px;
    font-size: 1.4em;
    font-weight: 200;
}
.episodeDescription h3{
    font-size: 1.5em;
    padding: 15px;
    margin: unset;
    border-bottom: solid 2px var(--purple-highlight);
}

.episodeDescription p{
    width: 70%;
    padding: 9px 15px;
    text-align: justify;
    margin-left: 15%;
}

.webVeoLogo{
    padding: 9px;
    width: 250px;
}

.webVeoSessIntro{
    font-size: 1.4em;
    margin-bottom: 15px;
}