.miniSiteGenCont{
    width: 100%;
    min-height: 80vh;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webVeoIntroBanner{
    padding: 120px 0;
}

.seasonIntrotitle{
    border-top: dotted 2px black;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    padding-top: 21px;
    padding-bottom: 15px;
}

.webveoPageCont{
    width: 1000px;
}

.episodeListAndPlayer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.episodePicker{
    padding: 15px 0 15px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--generalBoxShadow);
    width: 360px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    overflow-y: scroll;
}


.youTubeIframCont{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.564);
    background-color: blueviolet;
    width: fit-content;
}

.youTubeIframContMOBILE{
    display: none;
}

.youTubeIframCont2MOBILE{
    display: none;
}

.episodePickerMOBILE{
    display: none;
}

.eachepisodeList{
    padding: 6px;
    cursor: pointer;
}

.eachepisodeList:hover{
    color: var(--purple-highlight);
    font-weight: 600;
}

.episodeDescription{
    margin: 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--generalBoxShadow);
}

.epDesTitle{
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--purple-highlight);
    border-radius: 5px;
}

.episodeDescription h5{
    padding: unset;
    margin: unset;
    font-size: 1.4em;
    font-weight: 200;
    padding-right: 9px;
}

.episodeDescription h3{
    font-size: 1.5em;
    padding: 9px;
    margin: unset;
}

.episodeDescription p{
    width: 70%;
    padding: 9px 15px;
    text-align: justify;
    margin-left: 15%;
}

.webVeoLogo{
    padding: 9px;
    width: 250px;
}

.webVeoSessIntro{
    font-size: 1.4em;
    margin-bottom: 15px;
    text-align: center;
}

.wevVeoSessCont{
    display: flex;
    justify-content: center;
}

/* HOME BANNER */
.webveoBannerCont{
    display: flex;
    flex-direction: column;   
    background-color: white;
    box-shadow: var(--generalBoxShadow);
    width: 300px;
    margin: 21px;
    padding: 15px;
    cursor: pointer;
    transition: var(--general-transition);
}

.webveoBannerCont:hover{
    box-shadow: var(--aHighlightBoxShadow);
    color: white;
    background-color: rgb(50, 50, 50);
}

.webveoBannerCont i{
    font-weight: 400;
    border-top: solid 1px black;
    padding: 18px 15px;
    margin-top: 33px;
    font-size: 0.8em;
}

.webveoBannerCont h1{
    font-weight: 500;
    font-size: 2.3em;
    text-transform: capitalize;
    margin: unset;
    padding: unset;
}

.webveoBannerCont h3{
    margin: unset;
    padding: 18px 15px;
    font-weight: 400;
}

.webVeoBannerLogo{
    background-color: white;
    padding: 9px;
}

@media (max-width: 1000px) {
    .webveoPageCont{
        width: 100%;
    }

    .episodePicker{
        display: none;
    }

    .episodePickerMOBILE{
        display: unset;
    }

    .youTubeIframCont{
        display: none;
    }

    .youTubeIframContMOBILE{
        display: unset;
        width: fit-content;
        display: flex;
        justify-content: center;
        margin-top: 21px;
        box-shadow: var(--generalBoxShadow);
    }

    .youTubeIframCont2MOBILE{
        box-shadow: var(--generalBoxShadow);
        display: unset;
    }

    .episodeDropdown{
        font-size: 1.2em;
        padding: 9px 12px;
        border: solid 2px black;
        border-radius: 5px;
        box-shadow: var(--generalBoxShadow);
    }
    .episodeListAndPlayer{
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .episodeDescription h3{
        margin-left: 5%;
    }
    .episodeDescription p{
        width: 90%;
        margin-left: 5%;
    }
    .epDesTitle{
        margin: 0 5%;
    }
}


