.splashCont{
    background-color: rgb(147, 148, 148);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
}

.aBandPage{
    display: flex;
    background-color: rgba(20, 6, 6, 0.256);
}

.bandPageNavi{
    width: 24%;
    height: 100vh;
    padding: 21px;
    position: fixed;
    z-index: 10;
    top: 0;
}

.bandLogo{
    margin-top: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuOptsCont{
    margin-top: 81px;
    width: 80%;
    text-align: end;
}

.eachNaviBTN{
    margin: 21px 0;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transition: var(--general-transition);
}
.eachNaviBTN:hover{
    color: yellow;
    cursor: pointer;
}

.bandPageContent{
    width: 72%;
    margin-left: 25%;
    min-height: 100vh;
}

.eachSongTitle{
    background-color: rgba(20, 6, 6, 0.256);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.songVersesCont{
    background-color: rgba(20, 6, 6, 0.256);
    color: white;
}
.eachSongVerse{
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    font-size: 0.9em;
}

.songVerses{
    display: flex;
    flex-direction: column;
}
.aSectionContainer{
    scroll-margin-top: 48px;
    min-height: 72vh;
    width: 650px;
}
.aSectionContainer > h3{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 3em;
    text-transform: uppercase;
}
.aSectionContainer > h4{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.4em;
    text-transform: uppercase;
    
}

.bioPicCont::after{
    content: "FOTO: Juan Pablo Viteri";
    display: block;
    color: white;
    margin: 9px;
    font-size: 0.8em;
}

.eachBioParag{
    margin: 15px 9px;
    padding: 9px 0;
    text-align: justify;
    color: white;
}



.noEventsCont{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.eachIconCont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.eachIconDisp{
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 9px 12px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eachAlbumCont{
    color: white;
}
.albumArtCont{
    display: flex;
    display: flex;
    justify-content: center;
}

.albumDetails{
    padding: 9px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.eachAlbumDetail{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.eachAlbumDescript{
    padding: 12px;
    text-align: justify;
    margin: 15px;
}

.lyricContainer{
    margin-bottom: 33px;
}

.albumLogo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.videoContMOBILE{
    display: none;
}

.socialLinks{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 44px;
}

.naviContMOBILE{
    display: none;
}
@media (max-width: 900px){
    .naviCont{
        display: none;
    }

    .bandPageContent{
        width: 100%;
        margin: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .naviContMOBILE{
        display: unset;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10;
        padding: 9px;
        background-color: rgb(147, 148, 148);
        color: white;
        border-left: solid 2px yellow;
    }

    .aMenuItem:hover{
        color: yellow;
    }
    .aMenuItem{
        margin: 6px 0;
        padding: 3px;
    }
}

@media (max-width: 700px){
    .aSectionContainer{
        width: 100%;
        padding: 0 12px;
    }
    .aSectionContainer > h3{
        font-size: 1.9em;
    }
    .aSectionContainer > h4{
        font-size: 1.4em;
    }
    .albumDetails{
        font-size: 0.8em;
    }

    .videoCont{
        display: none;
    }
    .videoContMOBILE{
        display: flex;
        width: 100%;
        justify-content: center;
    }

}