.eventContainer{
    width: 900px;
    background-color: white;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: var(--general-transition);
}

.eventContainer:hover{
    box-shadow: var(--aHighlightBoxShadow);
}

.imgCont{
    padding: 6px;
    width: 300px;
    filter: saturate(1.2)
    brightness(1.2);
}

.eventDescrCont{
    padding: 0 21px;
    width: 80%;
}

.eventListing{
    font-style: italic;
    font-size: 0.8em;
}
.eventDescrCont p{
    text-align: justify;
    margin-bottom: 18px;
}

.priceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aPriceBoxMain{
    padding: 5px 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--general-transition);
    border: solid 1px transparent;
    border-right: solid 1px black;
}
.aPriceBoxMain:hover{
    border: solid 1px black;
}

.priceDetailMain{
    font-size: 1.3em;
}

.anEventPriceMain{
    width: 100%;
    text-align: end;
    font-size: 1.3em;
    margin: 6px;
}

.aPriceBox{
    padding: 5px 15px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--general-transition);
    border: solid 1px transparent;
    margin-bottom: 9px;
}
.aPriceBox:hover{
    border: solid 1px black;
}


.priceDetail{
    margin-bottom: 12px;
    
}

.anEventPrice{
    width: 100%;
    text-align: end;
    font-weight: 500;
}

.addToCartMain{
    margin: 6px 0;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: white;
    background-color: black;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}
.addToCart{
    margin: 6px 0;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border: solid 1px grey;
    align-items: center;
    cursor: pointer;
}
.addToCart:hover{
    box-shadow: var(--generalBoxShadow);
}
.addToCartMain:hover{
    box-shadow: var(--generalBoxShadow);
}


.extsaleBTN{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extsaleBTN p{
    margin: unset;
    font-size: 0.65em;
    color: white;
}
.extsaleBTN:hover > p{
    color: black;
}

.buyNowBTN{
    margin: 12px;
    padding: 12px 18px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: var(--purple-highlight);
    font-weight: 700;
    color: white;
}

.generalModalCont{
    display: flex;
    flex-direction: column;
}

.generalModalCont h3{
    text-transform: uppercase;
}

.modalBTN{
    margin: 9px;
    padding: 6px 9px;
    border-radius: 5px;
    border: solid 1px black;
    width: fit-content;
}

/* ///////////////////// */

.eventPlaceholder{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventPlaceholderTitle{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 550;
    margin: 33px;
}
.eventPlaceholderTitle2{
    font-size: 1.8em;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
}

/* ////////////////////////// */
/* Event Banner Styles */
/* ////////////////////////// */


.eventBannerGenCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: var(--generalBoxShadow);
    width: 300px;
    margin: 21px;
    padding: 15px;
    cursor: pointer;
    transition: var(--general-transition);

}

.bannerIconContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: solid 1px black;
    padding-top: 15px;
}

.eventBannerGenCont h1{
    font-weight: 500;
    font-size: 2.3em;
    text-transform: capitalize;
    margin: unset;
    padding: unset;
}

.eventBannerGenCont i{
    font-weight: 400;
    border-top: solid 1px black;
    padding: 18px 15px;
    font-size: 0.8em;
    width: 100%;
}

/* ///////////////////// */
/* ///////////////////// */

.homeSection{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.backgroundImageCont {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    filter: brightness(0.5) contrast(1.2);
    background-color: rgb(24, 24, 24);
}

.eventCalendarContent{
    position: relative;
    color: white;
    z-index: 1;
    width: 900px;
    background-color: rgb(231, 228, 228, 0.21);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border-radius: 5px;
    padding: 21px 33px;
    flex-direction: column;
    display: flex;
}

.eventCalendarContent h1{
    font-weight: 300;
    font-size: 2.5em;
    margin: unset;
    padding: unset;
}

.eventCalendarCont{
    width: 100%;
    border: solid 2px white;
    min-height: 33px;
    margin: 21px 0;
    display: flex;
    flex-direction: column;

}

.eachEventCont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px white;
}

.eachEventCont:first-child {
    border-top: none;
}

.posterdispl{
    padding-left: 6px;
    padding-top: 6px;
    cursor: pointer;
}

.closeDialogBTN{
    width: fit-content;
    border: solid 2px black;
    border-radius: 5px;
    padding: 6px 9px;
    cursor: pointer;
    margin: 12px 21px;
}

.priceBox{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-left: solid 1px white;
}

.eventDataCont{
    width: 66%;
    height: 150px;
    padding: 6px;
}
.eventCatalog{
    margin: 6px 12px;
    font-size: 0.8em;
}
.eventDate{
    margin: 6px 12px;
    font-size: 1.4em;
}
.eventName{
    margin: 6px 12px;
    font-size: 2em;
}
.eventIconCont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.anEventIcon{
    width: 30%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eventPrice{
    font-size: 1.5em;
    margin-top: 9px;
}

.addToCartBTN{
    padding: 6px 12px;
    border: solid 2px rgb(199, 211, 211);
    border-radius: 5px;
    margin: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* ////////////////////////// */
/* ////////////////////////// */





@media (max-width: 1080px) {
    .eventContainer{
        width: 96%;
    }
    .imgCont{
        width: 40%;
    }
    .priceContainer{
        flex-wrap: wrap;
    }
    .aPriceBoxMain{
        width: 300px;
        border-right: solid 1px transparent;
        padding-bottom: 12px;
        margin-bottom: 9px;
        border-bottom: solid 1px black;
    }
    .aPriceBox{
        width: 270px;
    }
}

@media (max-width: 750px) {
    .eventContainer{
        flex-direction: column;
        box-shadow: var(--aHighlightBoxShadow);        
    }

    .eventDescrCont{
        width: 96%;
        padding-bottom: 12px;
        
    }

    .imgCont{
        width: 60%;
    }

    .anEventPriceMain{
        margin: 12px 0;
    }

}
