.merchGenCont{
    min-height: 50px;
    margin: 15px;
    background-color: whitesmoke;
    min-width: 50px;
    display: flex;
    transition: all ease-in 0.3s;
    align-items: center;
    color: black;
}
.merchMiniGenCont{
    min-height: 50px;
    margin: 15px;
    background-color: white;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    transition: all ease-in 0.3s;
    align-items: center;
}

.aMerchIMG{
    width: 240px;
    background-color: white;
    filter: brightness(1.1) saturate(1.2) contrast(1.1);
}

.merchDescCont{
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 210px;
    justify-content: space-between;
    height: 220px;
}

.merchDescCont h2{
    margin: 6px 0;
}
.merchDescCont h5{
    margin: unset;
}

.merchListing{
    font-style: italic;
    font-size: 0.8em;    
}

.varPickLabel{
    margin-top: 9px;
    font-size: 0.7em;
}

.variantPickerInput{
    border: solid 2px var(--purple-highlight);
    border-radius: 5px;
}

.priceDet{
    margin-top: 9px;
}

.proPrice{
    font-size: 1.2em;
}

.addToCart{
    color: white;
    margin: 6px 0;
    border-radius: 5px;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: black;
    align-items: center;
    cursor: pointer;
}

.sizePicker{
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 5px;
    margin: 6px 0;
    padding: 6px 9px;
}

.aMerchSize{
    font-size: 1.3em;
    padding: 1px 6px;
}
.aMerchSize:hover{
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.aMerchSize:active{
    background-color: black;
    border-radius: 5px;
    color: white;
}

.modalRow h2{
    text-transform: uppercase;
    padding: 0 9px;
    word-wrap: break-word;
}
.addToCart:hover{
    background-color: var(--purple-highlight);
}

.modalBTN{
    margin: 9px;
    padding: 6px 9px;
    border-radius: 5px;
    border: solid 1px black;
    width: fit-content;
}

@media (max-width: 700px) {

    .merchGenCont{
        flex-direction: column;
    }

    .aMerchIMG{
        width: 94%;
    }
    .merchDescCont{
        width: 94%;
        height: fit-content;
    }
}