
.naviGenCont{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: white;
    top: 0;
    border-bottom: solid;
    padding: 9px;
}
.naviGenCont2{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: white;
    top: 0;
    border-bottom: solid;
    padding: 3px;
}

.naviRow{
    width: 100%;
    display: flex;
    align-items: center;
}
.naviRow2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.naviBTNCont{
    padding-left: 12px;
    -color: violet;
    height: fit-content;
}
.eachMenuBTN{
    padding: 6px 9px;
    margin: 3px;
    cursor: pointer;
}

.eachMenuBTNActive{
    padding: 6px 9px;
    margin: 3px;
    color: var(--purple-highlight);
    transition: var(--general-transition);
}

.eachMenuBTN:hover{
    color: var(--purple-highlight);
}

.hamburgerCont{
    display: none;
}

.generalFooterCont{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 21px;

}

.aSomeIconCont{
    display: flex;

}

.aSoMeIcon{
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.naviCartRow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 0.8em;
    align-items: center;
    cursor: pointer;
}

.naviCartRowMob{
    display: none;
}

.waraxNaviLogo{
    width: 100px;
}

@media (max-width: 750px) {
    .waraxNaviLogo{
        width: 180px;
        margin-top: 9px;
        margin-left: 9px;
    }
    .naviGenCont{
        padding: unset;
    }
    .naviRow{
        justify-content: space-between;
        width: 99%;
        padding: 6px;
    }

    .naviBTNCont{
        display: none;
    }

    .hamburgerCont{
        display: unset;
        margin-right: 15px;
        transition: var(--general-transition);
    }
    .hamburgerCont:hover{
        box-shadow: var(--aHighlightBoxShadow);
    }
    .burgerLine:hover{
        background-color: var(--purple-highlight);
    }
    .burgerLine{
        height: 2px;
        width: 21px;
        background-color: rgb(58, 57, 57);
        margin: 3px;
        transition: var(--general-transition);
    }
    .naviColum{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .naviBTNContMobile{
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }
    .closeModBTN{
        width: 100%;
        text-align: end;
        padding-right: 18px;
        
    }

    .naviCartRow{
        display: none;
    }

    .naviCartRowMob{
        display: unset;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 15px;
        font-size: 0.8em;
        align-items: center;
        cursor: pointer;
    }
}