
.naviGenCont{
    padding: 9px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: white;
    top: 0;
}

.naviRow{
    width: 100%;
    display: flex;
    align-items: center;
}

.eachMenuBTN{
    padding: 6px 9px;
    margin: 3px;
    cursor: pointer;
}

.eachMenuBTNActive{
    padding: 6px 9px;
    margin: 3px;
    color: var(--purple-highlight);
    transition: var(--general-transition);
}

.eachMenuBTN:hover{
    color: var(--purple-highlight);
}

.hamburgerCont{
    display: none;
}

.generalFooterCont{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 21px;

}

.aSomeIconCont{
    display: flex;

}

.aSoMeIcon{
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.naviCartRow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 0.8em;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 750px) {

    .naviBTNCont{
        display: none;
    }

    .hamburgerCont{
        display: unset;
        margin-right: 15px;
        transition: var(--general-transition);
    }
    .hamburgerCont:hover{
        box-shadow: var(--aHighlightBoxShadow);
    }
    .burgerLine:hover{
        background-color: var(--purple-highlight);
    }
    .burgerLine{
        height: 2px;
        width: 21px;
        background-color: rgb(58, 57, 57);
        margin: 3px;
        transition: var(--general-transition);
    }

    .naviGenCont{
        justify-content: space-between;
    }
}