.aServiceCont{
    background-color: white;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: var(--general-transition);
    width: 750px;
}

.aServiceCont:hover{
    box-shadow: var(--aHighlightBoxShadow);
}

.imgCont{
    padding: 6px;
    width: 300px;
    filter: saturate(1.2)
    brightness(1.2);
}

.serviceDescrCont{
    padding: 0 21px;
    width: 70%;
}
.serviceDescrCont h2{
    text-transform: uppercase;
}

.serviceListing{
    font-style: italic;
    font-size: 0.8em;
}
.serviceDescrCont p{
    text-align: justify;
    margin-bottom: 18px;
}

.priceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}


.aPriceBox{
    padding: 5px 15px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: var(--general-transition);
    border-right: solid 1px grey;
}

.addToCart:hover{
    box-shadow: var(--generalBoxShadow);
}

.aPriceBox:first-of-type{
    margin-left: 6px;
    border-left: solid 1px grey;
}

.cartOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceDetail{
    margin-bottom: 12px;   
}

.aPrice{
    font-weight: 500;
    font-size: 1.3em;
    width: 95px;
    text-align: end;
}

.addToCart{
    margin: 6px 0;
    border-radius: 5px;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border: solid 1px grey;
    align-items: center;
    cursor: pointer;
}

.aPriceBox:first-of-type > .addToCart{
    background-color: black;
    color: white;

}


@media (max-width: 1080px) {
    .aServiceCont{
        width: 96%;
    }

    .priceContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .aServiceCont{
        flex-direction: column;
        box-shadow: var(--aHighlightBoxShadow);        
    }

    .serviceDescrCont{
        width: 96%;
        padding-bottom: 12px;
        
    }

    .aPriceBox{
        width: 100%;
        border: unset;
        border-bottom: solid 1px black;
        padding: unset;
        margin-top: 9px;
    }
    .aPriceBox:first-of-type{
        border: unset;
        border-bottom: solid 1px black;
    }
}
