.aServiceCont{
    background-color: white;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: var(--general-transition);
    width: 750px;
}

.aServiceCont:hover{
    box-shadow: var(--aHighlightBoxShadow);
}

.imgCont{
    padding: 6px;
    width: 300px;
    filter: saturate(1.2)
    brightness(1.2);
}

.serviceDescrCont{
    padding: 0 21px;
    width: 70%;
}
.serviceDescrCont h2{
    text-transform: uppercase;
}

.serviceListing{
    font-style: italic;
    font-size: 0.8em;
}
.serviceDescrCont p{
    text-align: justify;
    margin-bottom: 18px;
}

.priceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}


.aPriceBox{
    padding: 5px 15px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: var(--general-transition);
}




.cartOptions{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceDetailMain{
    font-size: 1.4em;
    text-align: start;
    font-weight: 500;
}
.priceDetail{
    margin-bottom: 12px;   
}

.aPriceMain{
    font-weight: 500;
    font-size: 1.3em;
    width: 95px;
    text-align: end;
    width: 100%;
}
.aPrice{
    font-weight: 500;
    font-size: 1.3em;
    width: 95px;
    width: 100%;
    text-align: end;
}

.addToCartMain{
    margin: 3px 0;
    border-radius: 5px;
    padding: 9px 12px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: white;
    background-color: black;
    align-items: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.addToCartMain:hover{
    box-shadow: var(--aHighlightBoxShadow);
}
.addToCart{
    margin: 6px 0;
    border-radius: 5px;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border: solid 1px grey;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.addToCart:hover{
    box-shadow: var(--generalBoxShadow);
}

.contactFormModal{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aFormInput{
    width: 140px;
    padding: 3px;
}

.anInputCont{
    padding: 6px 12px;
    margin: 3px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.anInputLabel{
}

@media (max-width: 1080px) {
    .aServiceCont{
        width: 96%;
    }

    .priceContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .aServiceCont{
        flex-direction: column;
        box-shadow: var(--aHighlightBoxShadow);        
    }

    .serviceDescrCont{
        width: 96%;
        padding-bottom: 12px;
        
    }

    .aPriceBox{
        width: 100%;
        border: unset;
        border-bottom: solid 1px black;
        padding: unset;
        margin-top: 9px;
    }
    .aPriceBox:first-of-type{
        border: unset;
        border-bottom: solid 1px black;
    }
}
